<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Adicionar</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-5">
    <h2>Adicionar lançamento</h2>

    <form action="/cadastrar" method="POST">

      <div class="mb-3">
        <label class="form-label">Tipo</label>
        <input type="text" name="tipo" class="form-control" placeholder="Ex: Salário, Mercado..." required>
      </div>

      <div class="mb-3">
        <label class="form-label">Valor</label>
        <input type="number" step="0.01" name="valor" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Status</label>
        <select name="status" class="form-control">
          <option value="1">Receita</option>
          <option value="0">Despesa</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success">Cadastrar</button>
      <a href="/" class="btn btn-secondary">Voltar</a>

    </form>
  </div>
</body>
</html>